


@font-size-big          : 48rpx;

@font-size-middle       : 32rpx;

@font-size-small        : 28rpx;



@background-fff         : #fff;



@border-padding         : 30rpx;



@btn-width-big           : 120rpx;

@btn-width-middle        : 80rpx;

@btn-width-small         : 60rpx;



@btn-background          : #188ae2;



@btn-hoverColor          : #20C9E2;



@test-color              : purple;

